### Import Libraries

In [176]:
import re
import pandas as pd
import numpy as np

### Import DataFrame

In [177]:
codigos_postais = pd.read_csv('https://raw.githubusercontent.com/joaogouveia18/codigos_postais/main/codigos_postais.csv',
                     index_col=0)
codigos_postais.head()

,codigo_postal,localidade,distrito,dist_latitude,dist_longitude
0,1000,"São Jorge de Arroios, Lisboa",Lisboa,38.7071,-9.13549
1,1001,"São Jorge de Arroios, Lisboa",Lisboa,38.7071,-9.13549
2,1002,"São Jorge de Arroios, Lisboa",Lisboa,38.7071,-9.13549
3,1006,"São Jorge de Arroios, Lisboa",Lisboa,38.7071,-9.13549
4,1007,"São Jorge de Arroios, Lisboa",Lisboa,38.7071,-9.13549

### Function to Retrieve Info from Postal Code

In [178]:
def get_info_from_cp(postal_code, col_to_return=['distrito','localidade', 'dist_latitude','dist_longitude']):
    num = re.match(r'\d{4}', str(postal_code)).group()
    if int(num) in codigos_postais['codigo_postal'].values:
        return codigos_postais[codigos_postais['codigo_postal']==int(num)][col_to_return].values[0]
    else:
        return 'Indefinido'

In [179]:
get_info_from_cp('2710-354', col_to_return='distrito')

'Lisboa'

### Append Column to a DataFrame

In [180]:
data = {'Name':  ['First value', 'Second value','Third Value'],
        'Postal_Code': ['9956-538', '2700-564', '1001-203']}

df_test = pd.DataFrame(data, columns = data.keys())

In [181]:
df_test

           Name Postal_Code
0   First value    9956-538
1  Second value    2700-564
2   Third Value    1001-203

In [182]:
df_test['Distrito'] = np.vectorize(get_info_from_cp)(df_test['Postal_Code'],'distrito')

In [183]:
df_test.head()

           Name Postal_Code    Distrito
0   First value    9956-538  Indefinido
1  Second value    2700-564      Lisboa
2   Third Value    1001-203      Lisboa